.footer {
    width: 1000px;
    font-size: 15px;
    background: #ffffff;
    border-top: 3px solid #a4a29e;
    position: fixed;
    bottom: 0px;
    left: calc(50% - 1000px/2);
    height: 50px;
    text-align: center;
    display: flex;
    padding: 20px 0 100px 0;
}

.footer_logo {
    padding: 20px 0 0 0;
    text-align: left;
}

.footer_list {
    text-align: center;
    padding: 0 0 0 170px;
}

.footer_title {
    text-align: center;
    font-weight: var(--wide-large);
    width: 10%;
    height: 100px;
}

.footer_title:active {
    width: 10%;
    height: 100px;
    background-image: url(/img/cala.png);
    background-size:contain; 
    background-position: 0px 100px;                        
    width:auto;                                   
    height:1000px;  
}

.footer_navi {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_navi li {
    padding: 0 20px;
}