.footer {
  width: 1000px;
  font-size: 15px;
  background: #fff;
  border-top: 3px solid #a4a29e;
  position: fixed;
  top: 80%;
  left: calc(50% - 1000px/2);
  text-align: center;
  padding: 30px;
}

.footer_logo {
  margin: 0 auto;
  padding: 20px 0 0px 0;
  text-align: left;
}

.footer_list {
  text-align: center;
  padding: 0px;
}

.footer_title {
  text-align: center;
  padding: 0px;
  font-weight: 600;
}

.footer_navi {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_navi li {
  margin: 0;
  padding: 0 20px;
}
