{{ define "main"}}
  {{ partial "header.html" . }}
  <h1>{{ .Title }}</h1>
  {{ if not .Date.IsZero }}
  {{ end }}
  <!-- tags -->
  {{ if .Param "tags" }}
  <div id="tags">
    <ul>
      {{ range .Param "tags" }}
        {{ $name := . }}
        {{ with $.Site.GetPage (printf "/tags/%s" ($name | urlize)) }}
          <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <!-- content -->
  <div id="contentBody">
    {{ .Content }}
  </div>
  {{ partial "footer.html" . }}
  {{ $style := resources.Get "sass/variables.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}"> 
  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}"> 
{{ end }}
