<footer class="footer">
  <div class="md-flex md-justify-between">
      <img  src="/img/logo.png" alt="BiZOOPelogo" width="140" height="20" />
    <div class="grid">
      <div>
        <p class="footer_title">ABOUT</p>
        <ul class="footer_navi">
          <li><a href="https://www.bizoo.cloud/">販促サイト</a></li>
          <li><a href="https://bizoope.github.io/bizoope-manual/">マニュアル</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{{- range .Site.Params.custom_js -}}
<script src="{{ . }}"></script>
{{- end }}
{{ range .Site.Params.footer_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
