<footer class="footer">
  <div class="footer_logo">
      <img  src="/img/logo.png" alt="BiZOOPelogo" width="140" height="20" />
  </div>
  <div class="footer_list">
    <p class="footer_title">SERVICE</p>
    <ul class="footer_navi">
      <li><a href="https://www.bizoo.cloud/">紹介サイト</a></li>
      <li><a href="https://bizoope.github.io/bizoope-manual/">マニュアル</a></li>
    </ul>
  </div>
</footer>
{{- range .Site.Params.custom_js -}}
<script src="{{ . }}"></script>
{{- end }}
{{ $style := resources.Get "sass/variables.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}"> 
{{ $style := resources.Get "sass/footer.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}"> 
