{{ define "main"}}
  {{ partial "header.html" . }}
  <!-- search box -->
  <h1>{{ .Title }}</h1>
  <div id="searchBox">
    <input type="text" id="searchBoxInput" placeholder="ここに知りたい内容を入力してください" />
    <img id="searchBoxIcon" src="{{ .Site.BaseURL }}/img/search.png" />
  </div>
  <!-- search results -->
  <div id="searchResults"></div>
  <!-- categories -->
  <div id="categories">
    <ul>
      {{ $categories := .Site.Taxonomies.categories }}
      {{ range $category := .Site.Params.categories }}
        {{ $value := index $categories (lower $category)}}
        <li><a href="#{{ $category }}">{{ $category }} </a></li>
      {{ end }}
    </ul>
  </div>
  <!-- tags -->
  <div id="tags">
    <ul>
      {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
      {{ end }}
    </ul>
  </div>
  <!-- contents -->
  <div id="contentsList">
    {{ $categories := .Site.Taxonomies.categories }}

    {{ range $category := .Site.Params.categories }}
      {{ $value := index $categories (lower $category)}}

      <div id="{{ $category }}">{{ $category }}</div>
      {{ range $value.Pages }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
    {{ end }}
  </div>
  {{ partial "footer.html" . }}
  {{ $jquery := resources.Get "js/jquery-3.5.1.min.js" }}
  {{ $mark := resources.Get "js/jquery.mark.es6.min.js" }}
  {{ $lunr := resources.Get "js/lunr.js" }}
  {{ $search := resources.Get "js/search.js" }}
  {{ $js := slice $jquery $mark $lunr $search | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
  {{ $style := resources.Get "sass/variables.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}"> 
  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}"> 
{{ end }}
